/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

ul {
	list-style: none;
}

.chip-count {
	width: 3em;
}
 
.accordion-inner {
	min-height: 350px;
}

.container {
	margin-top: 20px;
}

.navbar .container {
	margin-top: 0;
}

.settings-menu {
	margin-bottom: 10px;
}

.settings-menu > .panel-group {
	margin-top: 60px;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 60%;
	}
}

@media (max-width:768px) {
	#players-control {
		width: 300px;
		height: 100%;
		position: fixed;
		left: -300px;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.8);
		z-index: 1100;
		overflow-y: auto;
		-webkit-transition: all 300ms ease-in-out;
				transition: all 300ms ease-in-out;
	}

	#players-control.nav-visible {
		left: 0;
		-webkit-box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.7);
		   -moz-box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.7);
				box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.7);
	}

	#players-control .table tbody>tr:nth-child(even)>td, .table-striped tbody>tr:nth-child(even)>th {
		background-color: #f0f0f0;
	}
	
	#players-control table {
		overflow-y: auto;
	}

	#close-players-panel {
		/*position: absolute;
		top: 10px;
		right: -50px;*/
	}
	
	.current-game .form-control {
		padding-right: 6px;
		padding-left: 6px;
		min-width: 4.2em;
	}
}